@font-face {
    font-family: "WebFont Nunito-Regular";
    src: url('fonts/WebFont Nunito-Regular.ttf');
}


body 
{

	width: 100%;
  height: 100%;
	font-family: "Nunito";


}


html {
    width: 100%;
    height: 100%;
}

h1
{
	font-size: 55px !important;
	text-align: center;
}



p
{
	text-align: justify;
}


@media(min-width:767px) {
    .navbar {

        padding: 20px 0;
        -webkit-perspective: 1000;  /*this resolves the flickering*/
		-webkit-backface-visibility: hidden;   /*this resolves the flickering*/
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
    }
}


.pstyle1
{
    
    font-weight: bold !important;
    text-align: center;

}


.container1 p
{
	text-align: center;
}



.pmargin
{
	margin-bottom: 20px !important;
	margin-top: 0px;
}


.threeblocks
{
	width : 33.33333333333333%;
	height: auto;
	display: inline-block;
	float: right;
	color: #f2cd30;
     
    padding-left: 2%; padding-right: 2%;
	margin-top: 5%; margin-bottom: 5%;
	margin-left: 0%; margin-right: 0%;

}


.centerpull
{
	text-align: center !important;

}

.jumbotron
{
  margin-bottom: 0px !important;

}


.jumbotron1 
{
	background-color: #f2cd30;/* Yellow-Gold background color */
	padding-top: 1px !important;
	
}

.jumbotron2
{
	background-color: #4595E5; /*Blue color background color*/
	padding-top: 1px !important;
}

.jumbotron3
{
	background-color: #323232; /*Black color background color*/
	padding-top: 1px !important;
	color: #fff;
}


.container1
{
	/*background-color: #fff;*/
	padding-left:4%; padding-right: 4%;
	text-align: center;
}


.carousel 
{
	margin-top: 20px; margin-bottom: 20px;
}

.carousel-indicators
 {
    bottom: 0px ;
  }

 .carousel-control.left {
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
  background-image:      -o-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0)));
  background-image:         linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
  background-repeat: repeat-x;
}
.carousel-control.right {
  right: 0;
  left: auto;
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
  background-image:      -o-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0)));
  background-image:         linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
  background-repeat: repeat-x;
}


.carousel-control:focus {
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
  filter: alpha(opacity=50);
  opacity: .5;
}


.carousel-control:hover {
  color: #4595E5;
  text-decoration: none;
  filter: alpha(opacity=90);
  outline: 0;
  opacity: .9;
}

.carousel-indicators .active {
  background-color: #4595E5; /*Blue color*/
}

.carousel-indicators li {
  border: 2px solid #fff;
  border-radius: 5px;
}


.container1 h1
 {
 	margin-top: 155px;
 }

 .overflowhide

 {
 	overflow: hidden; 
 }

.imgblockstyle
{
   margin-top: 3em; margin-bottom: 3em;
   /*margin-right: 3em !important; margin-left: 3em;*/
}


.vertical-center 
{
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

.fadinglinegold
{ 
	margin-top: 20px; margin-bottom: 10px;
	margin-left: auto;	margin-right: auto;
	display:block;
    border:none;
    height:2px;
    width: 70%;
    background:black;


         background-image: -webkit-gradient(linear, left top, right top, color-stop(0%,#eee), color-stop(50%,#f2cd30), color-stop(100%,#eee));
         background-image: -webkit-linear-gradient(left, #eee 0%,#f2cd30 50%,#eee 100%); 
         background-image: -moz-linear-gradient(left, #eee 0%, #f2cd30 50%, #eee 100%);
         background-image: -ms-linear-gradient(left, #eee 0%,#f2cd30 50%,#eee 100%);
         background-image: -o-linear-gradient(left, #eee 0%,#f2cd30 50%,#eee 100%);
         background-image: linear-gradient(left, #eee 0%,#f2cd30 50%,#eee 100%);

}

.fadinglinewhite
{ 
	margin-top: 20px; margin-bottom: 20px;
	margin-left: auto;	margin-right: auto;
	display:block;
    border:none;
    height:2px;
    width: 70%;
    background:black;
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 350, from(#fff), to(#4595E5));

     background-image: -webkit-gradient(linear, left top, right top, color-stop(0%,#fff), color-stop(50%,#4595E5), color-stop(100%,#fff));
         background-image: -webkit-linear-gradient(left, #4595E5 0%,#fff 50%,#4595E5 100%); 
         background-image: -moz-linear-gradient(left, #4595E5 0%, #fff 50%, #4595E5 100%);
         background-image: -ms-linear-gradient(left, #4595E5 0%,#fff 50%, #4595E5 100%);
         background-image: -o-linear-gradient(left, #4595E5 0%,#fff 50%, #4595E5 100%);
         background-image: linear-gradient(left, #4595E5 0%,#fff 50%, #4595E5 100%);
}

.navbar-inverse
{
	background-color: #323232;
	border: transparent;
}

.navbar-inverse .navbar-nav>.active>a, 
.navbar-inverse .navbar-nav>.active>a:focus, 
.navbar-inverse .navbar-nav>.active>a:hover
{
    background-color: transparent;
    color: #fff !important;
}


.nav > li > a:focus {
  text-decoration: none;
  color: #9d9d9d !important;
}


.navbar-collapse
{
	text-align: right;
}


.socialicons 
{
	
    width: 60px;
    display: inline-block;
    height: 60px;
    color: #fff;
	
	
    border: 2.3px solid;
	border-color: #f2cd30;
	border-radius: 50%;
	
	line-height: 2.5;
    /*padding-top: 10%;
    padding-bottom: 10%;
    padding-left: 10%;
    padding-right: 10%;*/
    
    margin-left: 10px;
    margin-right: 10px;

	-webkit-transition: all 333ms ease-in-out;
  -moz-transition: all 333ms ease-in-out;
  -o-transition: all 333ms ease-in-out;
  -ms-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;

}



.socialicons:hover
{
	color: #323232;
	cursor: pointer;
	background-color: #f2cd30;

	
	-webkit-transition: all 333ms ease-in-out;
  -moz-transition: all 333ms ease-in-out;
  -o-transition: all 333ms ease-in-out;
  -ms-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;

}


.container3
{
	margin-top: 30px;
}

.container3 p
{
	text-align: center !important;
}

.container3 .col-md-4
{
   margin-bottom: 20px; 
   margin-top: 10px;
}

.container3 a, .socialicons a:focus
{
	text-decoration: none !important;
	color: #fff !important;
}

.container3 span
{
	text-decoration: none;
	color: #fff !important;
	
}

.regline
{
	border-top: 1px solid;
	border-color: #4e4e4e;
    padding-top: 20px;	
}

.regline p
{
	font-size: 1em;
}


/*---------------------------------------Contact Form Styling Starts-------------------------------------------------------------*/

form {
  width: 50%;
  margin: 0 auto;
}
form .field {
  width: 100%;
  position: relative;
  margin-bottom: 15px;

}
form .field label {
  color: #fff;
  text-transform: uppercase;
  position: absolute;
  top: 0;
  left: 0;
  background: #323232;
  width: 100%;
  height: 45.1px;
  padding-top: 12px;
  
  padding-bottom: 6px;
  font-size: 16px;
  letter-spacing: 0.075em;
  -webkit-transition: all 333ms ease-in-out;
  -moz-transition: all 333ms ease-in-out;
  -o-transition: all 333ms ease-in-out;
  -ms-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
}
form .field label + span {
  font-family: 'Nunito';
  opacity: 0;
  color: white;
  display: block;
  position: absolute;
  top: 12px;
  left: 7%;
  font-size: 2.5em;
  text-shadow: 1px 2px 0 #cd6302;
  -webkit-transition: all 333ms ease-in-out;
  -moz-transition: all 333ms ease-in-out;
  -o-transition: all 333ms ease-in-out;
  -ms-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
}
form .field input[type="text"],
form .field textarea {
  border: none;
  background: #eee;
  width: 100%;
  margin: 0;
  margin-left: 0px;
  height: 45px;
  /*padding: 10px 0;*/
  /*padding-top: 4.5px;
  padding-bottom: 4.5px;*/
  padding-left: 22%;
  color: #313A3D;
  font-size: 16px;
  letter-spacing: 0.05em;
/*  text-transform: uppercase;*/
}

form .field textarea {
	padding-top: 0.5em;
}





form .field input[type="text"]#msg,
form .field textarea#msg {
	height: 45px;
   resize: none;
  -webkit-transition: all 333ms ease-in-out;
  -moz-transition: all 333ms ease-in-out;
  -o-transition: all 333ms ease-in-out;
  -ms-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
}
form .field input[type="text"]:focus, form .field input[type="text"].focused,
form .field textarea:focus,
form .field textarea.focused {
  outline: none;
}
form .field input[type="text"]:focus#msg, form .field input[type="text"].focused#msg,
form .field textarea:focus#msg,
form .field textarea.focused#msg {
 /* padding-bottom: 150px;*/
 height: 200px;
}
form .field input[type="text"]:focus + label, 
form .field input[type="text"]:focus + label + label,
form .field input[type="text"].focused + label ,
form .field input[type="text"].focused + label + label,
form .field textarea:focus + label,
form .field textarea:focus + label + label,
form .field textarea.focused + label,
form .field textarea.focused + label + label {
  width: 20%;
  background: #f2cd30;
  color: #fff;
  padding-bottom: 10px;
}
form .field input[type="text"].focused + label,
form .field textarea.focused + label {
  color: #fff;
}
form .field:hover label {
  width: 20%;
  background: #313A3D;
  color: white;
  padding-bottom: 10px;
}
form input[type="submit"] {
  background: #f2cd30;
  color: white;
  -webkit-appearance: none;
  border: none;
  text-transform: uppercase;
  position: relative;
  padding: 13px 50px;
  font-size: 1.4em;
  letter-spacing: 0.1em;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  -webkit-transition: all 333ms ease-in-out;
  -moz-transition: all 333ms ease-in-out;
  -o-transition: all 333ms ease-in-out;
  -ms-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
}
form input[type="submit"]:hover {
  background: #313A3D;
  color: #f2cd30;
}
form input[type="submit"]:focus {
  outline: none;
  background: #f2cd30;
  color:#fff;
}


#mycontactform .shortlabel
{
	color: #4595E5;
}

.link2:hover
{
  color: #4595E5;
}


/*---------------------------------------Contact Form Styling Ends-------------------------------------------------------------*/

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}


.hvr-sink {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;


}
.hvr-sink:hover, .hvr-sink:focus, .hvr-sink:active {
  -webkit-transform: translateY(8px);
  transform: translateY(8px);


}

.MyBounceIn

{
 -webkit-animation-delay: .3s;
  animation-delay: .3s;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.MyFadeRight
{
  -webkit-animation-delay: .5s;
  animation-delay: .5s;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;

}

.MyFadeLeft
{
  -webkit-animation-delay: .5s;
  animation-delay: .5s;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.visibilityoff
{
	visibility: hidden;
}


.logohvr:hover
{
	-webkit-transform: translateY(8px);
  transform: translateY(8px);
}




.imgscaling
{
	max-width: 100%;
	height: auto;
	margin-left: auto !important;
    margin-right: auto !important;
    text-align: center !important;
}


#bubble1, #bubble2, #bubble3, #bubble4
{
    cursor: pointer;
    width: 20px;
    height: 20px;
    border-radius: 50px;

    position: absolute;
    /*display: block;*/
    border: 3px solid #fff;
    background: rgba(79, 178, 229, 0.7);
    z-index: 100;
    opacity: 5;
}


.HintBubbles
{
  position: relative;
}


.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
  animation-iteration-count: infinite;
  
}



      #bubble1
      {
          top: 25%;
          left: 29%;
      }

      #bubble2
      {
         top: 6%;
         right: 31%;
      }

      #bubble3
      {
         top: 18.5%;
         right: 37%;
      }

      #bubble4
      {
         top: 50%;
         left: 33.8%;
      }

.popover
{
  background-color: #323232;
  color: #fff;
}
.popover.right .arrow:after {
  border-right-color: #323232;
}

.popover.left .arrow:after {
  border-left-color: #323232;
}

.jumbofeat
{
  background-color: #f2cd30;
  padding-bottom: 0px;
  padding-top: 0px;
}

/*---------------------------------------Custom Media Queries-------------------------------------------------------------*/

@media (min-width: 982px) and (max-width: 1200px) {

       #bubble1
      {
          top: 25%;
          left: 25%;
      }

      #bubble2
      {
         top: 6%;
         right: 27%;
      }

      #bubble3
      {
         top: 18.5%;
         right: 34%;
      }

      #bubble4
      {
         top: 50%;
         left: 30.8%;
      }


} /*min-width: 1200px ends*/

    
    @media (min-width: 768px) and (max-width: 982px) {

       #bubble1
      {
          top: 25%;
          left: 17.5%;
      }

      #bubble2
      {
         top: 6%;
         right: 20%;
      }

      #bubble3
      {
         top: 18.5%;
         right: 29.5%;
      }

      #bubble4
      {
         top: 50%;
         left: 24.8%;
      }


} /*min-width: 982max ends*/



@media (min-width: 768px){

form 
{
  width: 50%;
  margin: 0 auto;
}


.shortlabel
{
  display: none;
}

} /*media query ends*/



@media (max-width: 1000px){

form 
{
  width: 70%;
  margin: 0 auto;
}
}


@media (max-width: 768px){

form 
{
  width: 70%;
  margin: 0 auto;
}

.carousel-caption
{
  display: none;
}

.namelabel
{
  display: none;
}

.shortlabel
{
  display: block;
}


label
{
  display: none;
}

#bubble1, #bubble2, #bubble3, #bubble4
{
  display: none;
}

}  /*media query ends*/

/*---------------------------------------Custom Media Queries Ends-------------------------------------------------------------*/